# view setup.cfg for base requirements installed by lightning-pod
lightning-bolts
lightning-flash
lightning-transformers
# FUNDAMENTAL ML
scikit-learn
# TEXT
torchtext
# VISION
torchvision
# AUDIO
torchaudio
# VS CODE TENSORBOARD SUPPORT
torch-tb-profiler
# PLOTTING AND SYMBOLIC MATH
matplotlib
sympy
# TERMINAL CLI
rich
rich-cli
colorama
tabulate
# FORMMATING, LINTING, TESTING, STATIC TYPE CHECKING, COVERAGE
black
flake8
pytest
mypy
coverage
pre-commit
isort
# TQDM SUPPORT IN NOTEBOOKS
ipywidgets
# PLOTLY DASH APPS
# DOC TOOLS, MARKDOWN SUPPORT, THEMES
sphinx
myst-parser
sphinx_rtd_theme
pydata-sphinx-theme
