# LIGHTNING ECOSYSTEM
lightning
git+https://github.com/Lightning-AI/lightning-hpo.git
lightning-bolts
lightning-flash
lightning-transformers
# TRAINER CLI SUPPORT
hydra-core
# HYPERPARAMETER TUNING
optuna
# EXPERIMENT TRACKING AND REPORTS
wandb
# FUNDAMENTAL ML
scikit-learn
# TEXT
torchtext
# VISION
torchvision
# AUDIO
torchaudio
# VS CODE TENSORBOARD SUPPORT
torch-tb-profiler
# PLOTTING AND SYMBOLIC MATH
plotly
matplotlib
sympy
# TERMINAL CLI
rich
rich-cli
click
colorama
tabulate
# FORMMATING, LINTING, TESTING, STATIC TYPE CHECKING, COVERAGE
black
flake8
pytest
mypy
coverage
pre-commit
isort
# TQDM SUPPORT IN NOTEBOOKS
ipywidgets
# PLOTLY DASH APPS
dash
dash-bootstrap-components
gunicorn
# DOC TOOLS, MARKDOWN SUPPORT, THEMES
sphinx
myst-parser
sphinx_rtd_theme
pydata-sphinx-theme
